@import url("https://fonts.cdnfonts.com/css/circular-std");
@import url("https://fonts.cdnfonts.com/css/common-pixel");
@import url("https://fonts.cdnfonts.com/css/serious-rounded");
@import url("https://fonts.cdnfonts.com/css/templo-kolegio");
@import url("https://fonts.cdnfonts.com/css/venice-classic");
@import url("https://fonts.cdnfonts.com/css/jupiter-crash");
body {
  margin: 0;
  background-color: #000000;
  font-family: "Jupiter Crash BRK", sans-serif;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  transition: 0.8s;
}

header .header {
  display: none;
}
header .header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
  max-width: 1715px;
  margin: 0 auto;
}
header .flex-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px 0 20px;
}
header .flex-header .fortis {
  height: 100%;
  color: white;
  -webkit-background-clip: text;
          background-clip: text;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
  letter-spacing: 2px;
}
header .flex-header .right-header {
  display: flex;
  align-items: center;
}
header .flex-header .right-header .switch {
  width: 48px;
  height: 28px;
  position: relative;
  display: inline-block;
}
header .flex-header .right-header .switch input {
  display: none;
}
header .flex-header .right-header .switch input:checked ~ .slider {
  border: 1px solid #000;
}
header .flex-header .right-header .switch .slider {
  position: absolute;
  border: 1px solid #fff;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.8s;
  border-radius: 50px;
}
header .flex-header .right-header .switch .slider:before {
  content: "";
  background-color: #fff;
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 5px;
  left: 6px;
  transition: 0.8s;
  border-radius: 50%;
}

header .header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header .navlinkwrap {
  display: flex;
  flex-direction: row;
}
header .header .nav__toggle {
  display: none;
}
@media (max-width: 768px) {
  header .header .switch {
    height: 34px !important;
  }
  header .header .navlinkwrap {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    z-index: 22222;
    box-shadow: 0px 0px 12px rgb(255, 255, 255);
  }
  header .header .navlinkwrap span {
    margin-right: 0;
    margin-bottom: 10px;
  }
  header .header .nav__toggle {
    display: block;
  }
  header .header .navlinkwrap.show {
    display: flex;
  }
}

.hidden {
  display: none;
}

.navlinkwrap {
  display: flex;
  padding-right: 20px;
}

#loading {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 9999;
  width: 700px;
  height: 500px;
}

.activateAnim {
  animation: fade-out 2s linear;
}

#loading img {
  width: 500px;
  height: 500px;
  /*   position: absolute; */
  z-index: 9999;
  max-height: 80vh;
  /*     top: 50%;
  left: 50%; */
  /*   transform: translate(-50%, -50%); */
  animation: fade-in 4s linear infinite;
}
#loading img .skull_green {
  animation: fade-in 4s linear infinite;
}

main .all-sections {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}
main .all-sections .right-section {
  padding-left: 100px;
  padding-right: 10px;
  width: calc(100% - 300px);
}
main .all-sections .right-section .team {
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: 1px;
  scroll-behavior: smooth;
  height: 100vh;
}
main .all-sections .right-section .team::-webkit-scrollbar-thumb {
  background-color: #6e6a69;
  border: 4px solid #3a3939;
}
main .all-sections .right-section .team::-webkit-scrollbar {
  border: 1px solid #3a3939;
  background-color: #3a3939;
}
main .all-sections .right-section .team.custom_scrollbar::-webkit-scrollbar-track {
  -webkit-border-radius: 5px;
}
main section:not(.header):not(.footer-bottom) {
  padding: 5.75rem 0;
  width: 100%;
  max-width: 1429px;
  margin: 0 auto;
  position: relative;
}
main section {
  display: none;
}
main section.click-open-section {
  max-width: 1642px !important;
  padding: 1rem !important;
  /* Media query for responsive design */
}
main section.click-open-section .sidebar {
  background-color: #000000;
  padding: 10px;
  width: 200px;
  height: 100%;
  color: white;
}
main section.click-open-section .sidebar .sidebar-item {
  cursor: pointer;
  margin: 20px px 0 20px 0;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  align-items: center;
}
main section.click-open-section .sidebar .sidebar-item .pulse-number {
  animation: pulse 2s infinite;
}
main section.click-open-section .sidebar .sidebar-item .section-number {
  font-size: 14px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 8px;
  background: #000000;
  border: 1px solid #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.click-open-section .content {
  padding: 10px;
  margin-left: 200px;
  color: white;
}
main section.click-open-section .title {
  font-weight: 700;
  margin-bottom: 5px;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
}
main section.click-open-section .sub-title {
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
}
main section.click-open-section .processing {
  height: 1px;
  background-color: #ccc;
  border: none;
  animation: processing 4s linear;
  height: 1px;
  pointer-events: none;
  position: absolute;
  width: 210px;
  margin-top: 4px;
}
main section.click-open-section hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #ffffff;
}
@media screen and (max-width: 600px) {
  main section.click-open-section .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  main section.click-open-section .content {
    margin-left: 0;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.98);
    box-shadow: 0 0 0 0 rgba(237, 235, 237, 0.8);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 0 1.4px rgba(237, 235, 237, 0.809);
    opacity: 0.8;
  }
  100% {
    transform: scale(0.98);
    box-shadow: 0 0 0 0 rgba(237, 235, 237, 0.7);
    opacity: 0.5;
  }
}
@keyframes pulse-img {
  0% {
    box-shadow: #ddff00 0 0 0 0;
  }
  75% {
    box-shadow: rgba(255, 105, 180, 0) 0 0 0 16px;
  }
}
@keyframes pulse-img2 {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
}
@keyframes skul {
  0% {
    opacity: 0.05;
  }
  11% {
    opacity: 0.05;
  }
  12% {
    opacity: 1;
  }
  13% {
    opacity: 0.05;
  }
  17% {
    opacity: 0.05;
  }
  18% {
    opacity: 1;
  }
  19% {
    opacity: 0.05;
  }
  100% {
    opacity: 0.05;
  }
}
@keyframes fade-in {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
main .column {
  width: 50%;
}
main .introduction::before {
  content: "";
  display: none;
  position: absolute;
  width: 123px;
  height: 123px;
  left: 60%;
  top: 138px;
  filter: blur(90px);
  background-color: #bfbf1c;
}
main .introduction::after {
  content: "";
  display: none;
  position: absolute;
  width: 123px;
  height: 123px;
  left: 80%;
  top: 550px;
  background-color: #18b2de;
  filter: blur(80px);
}
main .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .discover {
  display: flex;
  flex-direction: column;
}
main .footer {
  margin: 0 auto 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1715px;
  padding-top: 6.25rem;
}
main .footer2 {
  padding-bottom: 30px;
  border-top: 1px solid #f2f2f2;
}
main .footer2 .copyright {
  text-align: right;
  margin-right: 40px;
}

.navbar .hamburgerlogowrap {
  display: flex;
  align-items: center;
}
.navbar .hamburger {
  display: none;
  color: #d7d7d7;
  background-color: transparent;
  border: none;
  margin-right: 10px;
  transform: scale(1.5);
}
.navbar .createbtn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 126px;
  height: 45px;
  color: #bcbcbc;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}
.navbar .createbtn.selectedbtn {
  border: 1px solid #d7d7d7;
  border-radius: 10px;
}
.navbar .navlogo {
  height: 100%;
  color: white;
  -webkit-background-clip: text;
          background-clip: text;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
  letter-spacing: 2px;
  padding-left: 20px;
}
.navbar .inputNightMorning {
  position: absolute;
  width: 150px;
  height: 70px;
  z-index: 999;
  left: calc(50% - 75px);
  top: calc(50% - 35px);
  opacity: 0;
}
.navbar .inputNightMorning:checked ~ .wrap .toggle {
  transition-delay: 0.5s;
  transform: translateX(80px) rotate(360deg);
}
.navbar .inputNightMorning:checked ~ .wrap .outer .ball {
  animation: bounce 2s ease-in-out 1 forwards;
}
.navbar .wrap {
  width: 150px;
  height: 70px;
  position: relative;
  border-radius: 100px;
  box-shadow: 0 0 0 5px #000, 0 0 0 10px #fff;
  background: #fff;
}
.navbar .toggle {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: 0.75s cubic-bezier(0.175, 0.885, 0.32, 1.125);
}
.navbar .outer {
  width: 50px;
  height: 50px;
  position: absolute;
  overflow: hidden;
  box-shadow: inset 0 0 0 5px #000, 0 0 0 5px #000;
  border-radius: 100%;
  top: 0;
  left: 0;
}
.navbar .outer .line {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, #fff 50%, #000 50%);
  border-radius: 100%;
}
.navbar .outer .ball {
  position: absolute;
  width: 50%;
  height: 10px;
  top: calc(50% - 10px);
  left: 0;
  border-radius: 150% 150% 0 0/300% 300% 0 0;
  background: #fff;
  mix-blend-mode: difference;
  transform-origin: bottom;
  transform: scaleY(0) skewX(40deg);
}
.navbar .outer .ball:nth-of-type(2) {
  left: auto;
  right: 0;
  top: 50%;
  border-radius: 0 0 150% 150%/0 0 300% 300%;
  transform-origin: top;
}
@keyframes bounce {
  25% {
    transform: scaleY(-1.5) skewX(40deg);
  }
  55% {
    transform: scaleY(1.5) skewX(60deg);
  }
  60% {
    transform: scaleY(0) skewX(40deg);
  }
  66% {
    transform: scaleY(-0.75) skewX(70deg);
  }
  72% {
    transform: scaleY(0) skewX(40deg);
  }
  100% {
    transform: scaleY(0) skewX(40deg);
  }
}
.navbar .images-nav:hover {
  border: none !important;
}
.navbar .images-nav .social-icons:hover {
  transform: scale(1.1);
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
  box-shadow: 0 1.5px 0 0 #9b51e0;
}
.navbar .navlink {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #f3eeee;
  cursor: pointer;
}
.navbar .navlink .switch {
  width: 48px;
  height: 28px;
  position: relative;
  display: inline-block;
}
.navbar .navlink .switch input {
  display: none;
}
.navbar .navlink .switch input:checked ~ .slider {
  border: 1px solid #000;
}
.navbar .navlink .switch input:checked ~ .slider:before {
  transform: translateX(20px);
  background-color: #000;
}
.navbar .navlink .switch .slider {
  position: absolute;
  border: 1px solid #fff;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.8s;
  border-radius: 50px;
}
.navbar .navlink .switch .slider:before {
  content: "";
  background-color: #fff;
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 5px;
  left: 6px;
  transition: 0.8s;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .navbar .navlink .switch .slider:before {
    bottom: 3px;
  }
}
.navbar .navlink:hover {
  border-bottom: 1px solid #9b51e0;
  transform: scale(1.1);
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
.navbar .navlink:hover:last-child {
  border: none;
}
.navbar .navlink.selectedlink {
  background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
  -webkit-background-clip: text;
          background-clip: text;
  background-color: transparent;
}
.navbar .navlink:not(:last-child) {
  margin-right: 32px;
}

.box .infobox {
  animation-name: leftslide;
  animation-duration: 0.8s;
  margin: 0 auto;
  margin-top: 128px;
}
.box .infobox-boldtext {
  margin: 0;
  color: #ffffff;
  font-size: 160px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 206px;
}
.box .infobox-slimtext {
  margin: 0 auto 0;
  color: #ffffff;
  font-size: 38px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
  max-width: 1128px;
}
.box .infobox-btnwrapper {
  display: flex;
}
.box .infobox-explorebtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 8px 38px;
  border: 1px solid #d7d7d7;
  border-radius: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: -1px;
  color: #ffffff;
}
.box .infobox-explorebtn:hover {
  color: #000000;
  background-color: #d7d7d7;
}
.box .infobox-createbtn {
  cursor: pointer;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 8px 38px;
  border: 1px solid #d7d7d7;
  border-radius: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: -1px;
  color: #ffffff;
}
.box .infobox-createbtn:hover {
  color: #000000;
  background-color: #d7d7d7;
}
.box .display {
  animation-name: rightslide;
  animation-duration: 0.8s;
  padding: 14px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(169.44deg, rgba(58, 129, 191, 0.08) 1.85%, rgba(65, 48, 90, 0.08) 98.72%);
  border-radius: 35px;
  max-height: 450px;
  max-width: 50%;
  overflow: hidden;
  max-width: 500px;
}
.box .display-nft {
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.box .display .infowrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.box .display .info {
  display: flex;
  align-items: center;
  font-style: normal;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
}
.box .display .info p {
  margin: 0;
}
.box .display .info-img {
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.box .display .info2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}
.box .display .info2 .info-sub {
  margin-bottom: 4px;
}
.box .display .info2 .iconwrapper {
  display: flex;
  align-items: center;
}
.box .display .info2 .iconwrapper svg {
  margin-right: 5px;
}

.auction {
  animation-name: rightslide;
  animation-duration: 0.8s;
  padding: 52px;
}
.auction .title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
}
.auction .title .titlebold {
  margin: 0;
  font-style: normal;
  color: #ffffff;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
}
.auction .title .titleslim {
  margin: 0;
  font-style: normal;
  color: #d7d7d7;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: -1px;
}
.auction .nft {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  justify-content: space-between;
  margin-top: 40px;
}

.team {
  animation-name: rightslide;
  animation-duration: 0.8s;
}
.team .discover .discover-items .item-wrapper .item {
  padding: 16px;
  width: 100%;
  margin-top: 20px;
}
.team .discover .discover-items .item-wrapper .item .item-img {
  -o-object-fit: initial;
     object-fit: initial;
  max-width: 564px;
  max-height: 452px;
}

.gallery {
  animation-name: leftslide;
  animation-duration: 0.8s;
}

.started {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.started-boldtext {
  margin: 0;
  align-self: center;
  font-style: normal;
  color: #ffffff;
  font-weight: 500;
  font-size: 40px;
  line-height: 72px;
}
.started-slimtext {
  margin: 0;
  align-self: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.5px;
  color: #e2e2e2;
}
.started-items {
  padding: 60px 80px;
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: space-between;
}
.started-items:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  top: 80px;
  filter: blur(80px);
  background: linear-gradient(93.51deg, rgba(191, 191, 28, 0.5215686275) 2.84%, #3081ed 99.18%);
}
.started-items .itemwrapper p {
  width: 100px;
  margin: 0;
  margin-top: 10px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
}
.started-items-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 18px;
  background-color: red;
  background: rgba(255, 255, 255, 0.095);
  box-shadow: inset 2.01px -2.01px 20px rgba(214, 214, 214, 0.17), inset -3.01333px 3.01333px 3.01333px rgba(255, 255, 255, 0.39);
  -webkit-backdrop-filter: blur(74.4293px);
          backdrop-filter: blur(74.4293px);
}

.discover-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 16px;
}
.discover-title p {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  letter-spacing: -1px;
  color: #ffffff;
}
.discover-items {
  display: flex;
  flex-direction: column;
}
.discover-loadbtn {
  cursor: pointer;
  margin-top: 20px;
  align-self: center;
  width: 161px;
  height: 40px;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1.5px;
  color: #bcbcbc;
}

.footer-main {
  max-width: 40%;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #ffffff;
}
.footer-navigate {
  display: flex;
}
.footer-navigate .nav {
  margin-left: 60px;
}
.footer-navigate .nav h5 {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.footer-navigate .nav p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #d7d7d7;
}

.footer2 p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 36px;
  color: #828282;
}

.pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.pulse .pulse-anim {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  animation: pulse-img 2s infinite;
  background-color: #ddff00;
}
.pulse .pulse-anim .pulse-anim-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 20px;
  animation: pulse-img2 1.8s infinite;
}

.item-wrapper {
  display: flex;
  transition: 2s ease-in;
  animation: fade-out 2s linear;
  opacity: 0;
  transform: translateY(20px);
}

.item-wrapper:not(.hidden-item) {
  opacity: 1;
  transform: translateY(0);
}

.hidden-item {
  display: none !important;
}

.load-more-but {
  margin: 20px auto;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  width: 180px;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #4f054b;
  background-image: linear-gradient(45deg, #81094b 0%, #4f054b 51%, #81094b 100%);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: manipulation;
  position: relative;
  border: 1px solid rgba(231, 231, 231, 0.3294117647);
}
.load-more-but .button-text {
  visibility: visible;
}
.load-more-but:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.load-more-but:active {
  transform: scale(0.95);
}
.load-more-but::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
  display: none;
  transform: translate(-50%, -50%);
}
.load-more-but.loading {
  background-color: #ddd;
}
.load-more-but.loading .button-text {
  visibility: hidden;
}
.load-more-but.loading::after {
  display: block;
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.auction-sec {
  width: initial !important;
  max-width: initial !important;
  animation-name: normalfade;
  animation-duration: 2.2s;
  overflow-y: hidden;
}
.auction-sec img {
  max-width: 100%;
}
.auction-sec .ag-format-container {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}
.auction-sec .ag-timeline_title-box {
  padding: 0 0 30px;
  text-align: center;
}
.auction-sec .ag-timeline_tagline {
  font-size: 40px;
  color: rgb(84, 89, 95);
}
.auction-sec .ag-timeline_title {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 80px;
}
.auction-sec .ag-timeline_item {
  margin: 0 0 100px;
  position: relative;
}
.auction-sec .ag-timeline_item:nth-child(2n) {
  text-align: right;
}
.auction-sec .lore-margin-title {
  margin-bottom: 62px;
}
.auction-sec .ag-timeline {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}
.auction-sec .ag-timeline_line {
  width: 2px;
  background-color: #393935;
  position: absolute;
  top: 2px;
  left: 50%;
  bottom: 0;
  overflow: hidden;
  transform: translateX(-50%);
}
.auction-sec .ag-timeline_line-progress {
  width: 100%;
  height: 20%;
  background-color: #bfc500;
}
.auction-sec .ag-timeline-card_box {
  padding: 0 0 20px 50%;
}
.auction-sec .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
  padding: 0 50% 20px 0;
}
.auction-sec .ag-timeline-card_point-box {
  display: inline-block;
  margin: 0 14px 0 -28px;
}
.auction-sec .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
  margin: 0 -34px 0 14px;
}
.auction-sec .ag-timeline-card_point {
  height: 50px;
  line-height: 50px;
  width: 50px;
  border: 3px solid #322336;
  background-color: #322336;
  text-align: center;
  font-size: 20px;
  color: #fff;
  border-radius: 50%;
}
.auction-sec .adjust-bullet {
  margin: 0 14px 0 -34px !important;
}
.auction-sec .js-ag-active .ag-timeline-card_point {
  color: #1d1d1b;
  background-color: #bfc500;
}
.auction-sec .ag-timeline-card_meta-box {
  display: inline-block;
}
.auction-sec .ag-timeline-card_meta {
  margin: 10px 0 0;
  font-weight: bold;
  font-size: 28px;
  color: #ff0;
}
.auction-sec .ag-timeline-card_item {
  display: inline-block;
  width: 45%;
  margin: -77px 0 0;
  background-color: #282828;
  opacity: 0;
  border-radius: 6px;
  -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  transition: transform 0.5s, opacity 0.5s;
  position: relative;
}
.auction-sec .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item {
  transform: translateX(-200%);
}
.auction-sec .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
  transform: translateX(200%);
}
.auction-sec .js-ag-active.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
.auction-sec .js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
  opacity: 1;
  transform: translateX(0);
}
.auction-sec .ag-timeline-card_arrow {
  height: 18px;
  width: 18px;
  margin-top: 20px;
  background-color: #282828;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(45deg);
}
.auction-sec .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
  margin-left: -9px;
  margin-right: -9px;
}
.auction-sec .ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
  margin-left: -10px;
  right: auto;
  left: 0;
}
.auction-sec .ag-timeline-card_img {
  width: 100%;
}
.auction-sec .ag-timeline-card_info {
  padding: 20px 30px;
}
.auction-sec .ag-timeline-card_title {
  display: none;
  margin: 10px 0 0;
  font-weight: bold;
  font-size: 28px;
  color: #ff0;
}
.auction-sec .ag-timeline-card_desc {
  line-height: 1.45;
  font-size: 16px;
  color: #fff;
}
@media only screen and (max-width: 979px) {
  .auction-sec .ag-timeline_line {
    left: 30px;
  }
  .auction-sec .ag-timeline_item:nth-child(2n) {
    text-align: left;
  }
  .auction-sec .ag-timeline-card_box,
  .auction-sec .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
    padding: 0 0 20px;
  }
  .auction-sec .ag-timeline-card_meta-box {
    display: none;
  }
  .auction-sec .ag-timeline-card_point-box,
  .auction-sec .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
    margin: 0 0 0 8px;
  }
  .auction-sec .ag-timeline-card_point {
    height: 40px;
    line-height: 40px;
    width: 40px;
  }
  .auction-sec .ag-timeline-card_item {
    width: auto;
    margin: -65px 0 0 75px;
  }
  .auction-sec .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
  .auction-sec .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    transform: translateX(200%);
  }
  .auction-sec .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
    right: auto;
    left: 0;
  }
  .auction-sec .ag-timeline-card_title {
    display: block;
  }
  .auction-sec .ag-timeline-card_arrow {
    margin-top: 12px;
  }
}
.auction-sec .ag-timeline_line {
  /* other styles */
  background: #322336;
  background-size: 100% 200%;
  background-position: 0% 100%;
}
.auction-sec .right-text-to-left {
  text-align: left;
}
@media only screen and (max-width: 979px) {
  .auction-sec .ag-timeline_line {
    left: 30px;
  }
  .auction-sec .ag-timeline_item:nth-child(2n) {
    text-align: left;
  }
  .auction-sec .ag-timeline-card_box,
  .auction-sec .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
    padding: 0 0 20px;
  }
  .auction-sec .ag-timeline-card_meta-box {
    display: none;
  }
  .auction-sec .ag-timeline-card_point-box,
  .auction-sec .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
    margin: 0 0 0 8px;
  }
  .auction-sec .ag-timeline-card_point {
    height: 40px;
    line-height: 40px;
    width: 40px;
  }
  .auction-sec .ag-timeline-card_item {
    width: auto;
    margin: -65px 0 0 75px;
  }
  .auction-sec .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
    right: auto;
    left: 0;
  }
  .auction-sec .ag-timeline-card_title {
    display: block;
  }
  .auction-sec .ag-timeline-card_arrow {
    margin-top: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .auction-sec .ag-format-container {
    width: 96%;
  }
  .auction-sec .ag-timeline-card_img {
    height: auto;
    width: auto;
  }
}
@media only screen and (max-width: 639px) {
  .auction-sec .ag-timeline_title {
    font-size: 60px;
  }
  .auction-sec .ag-timeline-card_info {
    padding: 10px 15px;
  }
  .auction-sec .ag-timeline-card_desc {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .auction-sec .ag-format-container {
    width: 750px;
  }
}
@media (min-width: 980px) and (max-width: 1161px) {
  .auction-sec .ag-format-container {
    width: 960px;
  }
}
.auction-sec .item {
  display: flex;
  flex-direction: column;
  justify-self: center;
  border-bottom: 1px solid white;
  margin-top: 12px;
}
.auction-sec .item .item-parag {
  margin-bottom: 42px;
}
.auction-sec .item-img {
  -o-object-fit: initial;
     object-fit: initial;
  flex-shrink: 0;
  width: 660px;
  height: 361px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.auction-sec .item-img:hover {
  transform: scale(1.05);
}
.auction-sec .item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.8px;
  line-height: 24px;
  color: #ffffff;
  max-width: 582px;
  padding: 10px;
}
.auction-sec .item-date {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #bcbcbc;
}

.item {
  display: flex;
  flex-direction: column;
  justify-self: center;
  border-bottom: 1px solid white;
  margin-top: 12px;
}
.item .item-parag {
  margin: 8px 0 8px 0;
}
.item-img {
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  max-width: 660px;
  max-height: 361px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.item-img:hover {
  transform: scale(1.05);
}
.item-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.8px;
  line-height: 24px;
  color: #ffffff;
  max-width: 582px;
  padding: 12px 4px 12px 4px;
}
.item-title .first-title {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}
.item-title .second-title {
  font-size: 18px;
}
.item-date {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #bcbcbc;
}

.filters {
  display: flex;
  align-items: center;
}
.filters .filter {
  display: flex;
  align-items: center;
  margin-right: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}
.filters .filter svg {
  margin-right: 5px;
  margin-left: 5px;
}
.filters .filterbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 30px;
  background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
  border: none;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}
.filters .filterbtn svg {
  margin-right: 5px;
}

.light-vision {
  background-color: #ffffff;
  transition: 0.8s;
}
.light-vision .hamburger.light {
  color: black;
}
@media (max-width: 768px) {
  .light-vision .navlinkwrap {
    background-color: #fff !important;
    box-shadow: 0px 0px 12px rgb(1, 1, 1) !important;
  }
}
.light-vision .navlogo,
.light-vision .navlink {
  color: black;
}
.light-vision .box .infobox-boldtext, .light-vision .box .infobox-slimtext {
  color: #000000;
}
.light-vision .auction .titlebold {
  color: #000000;
}
.light-vision .auction .item {
  border-bottom: 1px solid #000000;
}
.light-vision .auction .item-title {
  color: #000000;
}
.light-vision .auction .item-date {
  color: #000000;
}
.light-vision .discover-title p {
  color: black;
}
.light-vision .discover .titlebold {
  color: #000000;
}
.light-vision .discover .item {
  border-bottom: 1px solid #000000;
}
.light-vision .discover .item-title {
  color: #000000;
}
.light-vision .discover .item-date {
  color: #000000;
}
.light-vision .pulse .pulse-anim {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  animation: pulse-img 2s infinite;
  background-color: #ddff00;
}
.light-vision .pulse .pulse-anim .pulse-anim-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  animation: pulse-img2 1.8s infinite;
}
.light-vision .ag-timeline_line-progress {
  width: 100%;
  height: 20%;
  background-color: yellow;
}
.light-vision .ag-timeline_line {
  border: 1px solid rgba(0, 0, 0, 0.44);
}
.light-vision .js-ag-active .ag-timeline-card_point {
  background-color: #fcff00;
}

@media screen and (max-width: 1500px) {
  .landingpage {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1040px) {
  .box {
    flex-direction: column;
  }
  .box .infobox {
    max-width: none;
    margin-bottom: 50px;
  }
  .box .display {
    display: none;
    max-height: none;
    max-width: none;
  }
  .auction .nft {
    grid-template-columns: auto auto;
    justify-content: space-around;
  }
  .discover-items {
    grid-template-columns: auto auto auto;
    justify-content: space-around;
  }
  .footer {
    flex-direction: column;
  }
  .footer-main {
    max-width: 80%;
    margin-bottom: 50px;
    text-align: center;
  }
  .footer-navigate .nav:first-child {
    margin: 0;
  }
}
@media screen and (max-width: 925px) {
  .navlinkwrap {
    display: none;
  }
  .buttonwrap {
    display: none;
  }
  .hamburger {
    display: flex !important;
    align-items: center;
  }
  .started-slimtext {
    text-align: center;
  }
}
@media screen and (max-width: 825px) {
  .started-items {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    padding: 50px 0;
  }
  .started-items:before {
    height: 200px;
    top: 90px;
    filter: blur(120px);
  }
  .discover-items {
    grid-template-columns: auto auto;
    justify-content: space-around;
  }
}
@media screen and (max-width: 700px) {
  .box {
    flex-direction: column;
  }
  .box .infobox {
    max-height: none;
    max-width: none;
    margin-bottom: 50px;
  }
  .box .display {
    display: block;
    max-height: none;
    max-width: none;
  }
  .discover-title {
    justify-content: center;
  }
  .discover-title .filters {
    display: none;
  }
  .auction .title {
    justify-content: center;
  }
  .auction .title .titleslim {
    display: none;
  }
}
.navlinkwrap {
  display: flex;
  flex-direction: row;
  transition: all 0.3s ease-in-out;
}
.navlinkwrap .social-icons {
  width: 30px;
}

.navlinkwrap.show {
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .navlinkwrap {
    display: none;
    flex-direction: column;
  }
  .navlinkwrap.show {
    display: flex;
  }
  .navlinkwrap span {
    margin-right: 0;
  }
  .navlink {
    padding: 4px;
    /*     .switch {
         width: 48px;
         height: 28px;
         position: relative;
         display: inline-block;
         input {
           display: none;
         }
         input:checked ~ .slider {
           border: 1px solid #000;
         }

         input:checked ~ .slider:before {
           transform: translateX(20px);
           background-color: #000;
         }

         .slider {
           position: absolute;
           border: 1px solid #fff;
           cursor: pointer;
           top: 0;
           left: 0;
           right: 0;
           bottom: 0;
           transition: 0.8s;
           border-radius: 50px;
           &:before {
             content: "";
             background-color: #fff;
             width: 16px;
             height: 16px;
             position: absolute;
             bottom: 5px;
             left: 6px;
             transition: 0.8s;
             border-radius: 50%;
           }
         }
       }
    */
  }
  .navlink:not(:last-child) {
    margin-right: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .introduction .infobox-slimtext {
    max-width: 544px;
  }
}
@media screen and (max-width: 600px) {
  .landingpage {
    padding: 0 20px;
  }
  .introduction .box .infobox .infobox-slimtext {
    max-width: 440px;
  }
  .introduction .box .infobox-boldtext {
    font-size: 130px;
  }
  .introduction .box .infobox-slimtext {
    font-size: 28px;
  }
  .discover-items {
    grid-template-columns: auto;
    justify-content: space-around;
  }
  .auction .nft {
    grid-template-columns: auto;
    justify-content: space-around;
  }
  .footer-main {
    font-size: 20px;
    line-height: 30px;
    max-width: 100%;
    margin-bottom: 50px;
    text-align: center;
  }
  .footer-navigate {
    justify-content: space-between;
    width: 100%;
  }
  .footer-navigate .nav {
    margin-left: 20px;
  }
  .footer-navigate .nav h5 {
    font-size: 15px;
    line-height: 30px;
  }
  .footer-navigate .nav p {
    font-size: 10px;
    line-height: 18px;
  }
}
@media screen and (max-width: 480px) {
  .landingpage .box .infobox-boldtext {
    font-size: 32px;
    line-height: 1.4em;
    text-align: center;
  }
  .landingpage .box .infobox-slimtext {
    text-align: center;
  }
  .landingpage .box .infobox-btnwrapper {
    justify-content: center;
  }
  .introduction .box .infobox .infobox-slimtext {
    max-width: 328px;
  }
  .introduction .box .infobox-boldtext {
    font-size: 100px;
  }
  .introduction .box .infobox-slimtext {
    font-size: 22px;
  }
}
@media screen and (max-width: 360px) {
  .introduction .box .infobox .infobox-slimtext {
    max-width: 202px;
  }
  .introduction .box .infobox-boldtext {
    font-size: 80px;
  }
  .introduction .box .infobox-slimtext {
    font-size: 18px;
  }
}
@keyframes processing {
  0% {
    width: 0px;
  }
  50% {
    width: 110px;
  }
  100% {
    width: 210px;
  }
}
@keyframes leftslide {
  0% {
    transform: translateX(-700px);
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes normalfade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@keyframes rightslide {
  0% {
    transform: translateX(550px);
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.sky {
  width: 100%;
  height: 100%;
  z-index: 22;
  animation: fade-in 4s linear infinite;
  display: none;
}

.sky-stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 22;
}
.sky-stars .dot {
  position: absolute;
  animation: fade-in 4s linear infinite;
  width: 20px;
  display: none;
  height: 20px;
  background-color: white;
}
.sky-stars .dot:nth-child(1) {
  top: 59%;
  left: 67%;
}
.sky-stars .dot:nth-child(2) {
  top: 84%;
  left: 32%;
}
.sky-stars .dot:nth-child(3) {
  top: 2%;
  left: 50%;
}
.sky-stars .dot:nth-child(4) {
  top: 58%;
  left: 6%;
}
.sky-stars .dot:nth-child(5) {
  top: 26%;
  left: 66%;
}
.sky-stars .dot:nth-child(6) {
  top: 56%;
  left: 97%;
}
.sky-stars .dot:nth-child(7) {
  top: 86%;
  left: 58%;
}
.sky-stars .dot:nth-child(8) {
  top: 73%;
  left: 50%;
}
.sky-stars .dot:nth-child(9) {
  top: 14%;
  left: 6%;
}
.sky-stars .dot:nth-child(10) {
  top: 28%;
  left: 2%;
}
.sky-stars .dot:nth-child(11) {
  top: 55%;
  left: 34%;
}
.sky-stars .dot:nth-child(12) {
  top: 82%;
  left: 24%;
}
.sky-stars .dot--blinking {
  animation: blink 12.25s linear infinite;
}
.sky-stars .star {
  position: absolute;
  color: white;
  animation: scale 0.5s linear infinite;
}
.sky-stars .star--sm {
  width: 28px;
  height: 28px;
}
.sky-stars .star--sm:nth-child(13) {
  top: 76%;
  left: 510px;
}
.sky-stars .star--sm:nth-child(14) {
  top: 17% !important;
  left: 493px !important;
}
.sky-stars .star--sm:nth-child(14) {
  top: 76%;
  left: 510px;
}
.sky-stars .star--sm:nth-child(15) {
  top: 17% !important;
  left: 493px !important;
}
.sky-stars .star--lg {
  width: 48px;
  height: 48px;
}
.sky-stars .star--lg:nth-child(15) {
  top: 86%;
  right: 510px;
}
.sky-stars .star--lg:nth-child(16) {
  top: 22% !important;
  right: 531px !important;
}
.sky-stars .star--lg:nth-child(16) {
  top: 86%;
  right: 510px;
}
.sky-stars .star--lg:nth-child(17) {
  top: 22% !important;
  right: 531px !important;
}
.sky-stars .star::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: currentColor;
  animation: grow 0.5s linear infinite;
}
.sky-stars .star__part {
  position: absolute;
  background: currentColor;
}
.sky-stars .star__part:nth-child(1) {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 20%;
}
.sky-stars .star__part:nth-child(2) {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 20%;
  height: 100%;
}

.all-booms {
  display: none;
}
.all-booms .lightning-container {
  display: none;
}
.all-booms .boom-container {
  position: absolute;
  display: flex;
  width: 80px;
  height: 80px;
  text-align: center;
  align-items: center;
  transform: translateY(-50%);
  left: 200px;
  bottom: 345px;
}
.all-booms .boom-container .shape {
  display: inline-block;
  position: relative;
  opacity: 0;
  transform-origin: center center;
}
.all-booms .boom-container .shape.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  transform-origin: 50% 80%;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  margin-left: -15px;
  border-width: 0 2.5px 5px 2.5px;
  border-color: transparent transparent #9b51e0 transparent;
  animation-name: boom-triangle;
}
.all-booms .boom-container .shape.triangle.big {
  margin-left: -25px;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #9b51e0 transparent;
  animation-name: boom-triangle-big;
}
.all-booms .boom-container .shape.disc {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #782ac2;
  animation-name: boom-disc;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
.all-booms .boom-container .shape.circle {
  width: 20px;
  height: 20px;
  animation-name: boom-circle;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  border-radius: 100%;
  margin-left: -30px;
}
.all-booms .boom-container .shape.circle.white {
  border: 1px solid rgba(155, 81, 224, 0.2901960784);
}
.all-booms .boom-container .shape.circle.big {
  width: 40px;
  height: 40px;
  margin-left: 0px;
}
.all-booms .boom-container .shape.circle.big.white {
  border: 2px solid rgba(155, 81, 224, 0.1803921569);
}
.all-booms .boom-container .shape:after {
  background-color: rgba(178, 215, 232, 0.2);
}
.all-booms .boom-container .shape.triangle, .all-booms .boom-container .shape.circle, .all-booms .boom-container .shape.circle.big, .all-booms .boom-container .shape.disc {
  animation-delay: 0.38s;
  animation-duration: 3s;
}
.all-booms .boom-container .shape.circle {
  animation-delay: 0.6s;
}
.all-booms .boom-container.second {
  left: 485px;
  top: 155px;
}
.all-booms .boom-container.second .shape.triangle, .all-booms .boom-container.second .shape.circle, .all-booms .boom-container.second .shape.circle.big, .all-booms .boom-container.second .shape.disc {
  animation-delay: 1.9s;
}
.all-booms .boom-container.second .shape.circle {
  animation-delay: 2.15s;
}
.all-booms .boom-container.third {
  right: 285px;
  left: unset;
  top: 155px;
}
.all-booms .boom-container.third .shape.triangle, .all-booms .boom-container.third .shape.circle, .all-booms .boom-container.third .shape.circle.big, .all-booms .boom-container.third .shape.disc {
  animation-delay: 5.4s;
}
.all-booms .boom-container.third .shape.circle {
  animation-delay: 5.55s;
}
.all-booms .boom-container.fourth {
  right: 200px;
  left: unset;
  bottom: 345px;
}
.all-booms .boom-container.fourth .shape.triangle, .all-booms .boom-container.fourth .shape.circle, .all-booms .boom-container.fourth .shape.circle.big, .all-booms .boom-container.fourth .shape.disc {
  animation-delay: 4.1s;
}
.all-booms .boom-container.fourth .shape.circle {
  animation-delay: 4.18s;
}

@keyframes woosh {
  0% {
    width: 12px;
    transform: translate(0px, 0px) rotate(-35deg);
  }
  15% {
    width: 50px;
  }
  30% {
    width: 12px;
    transform: translate(214px, -150px) rotate(-35deg);
  }
  30.1% {
    transform: translate(214px, -150px) rotate(46deg);
  }
  50% {
    width: 110px;
  }
  70% {
    width: 12px;
    transform: translate(500px, 150px) rotate(46deg);
  }
  70.1% {
    transform: translate(500px, 150px) rotate(-37deg);
  }
  85% {
    width: 50px;
  }
  100% {
    width: 12px;
    transform: translate(700px, 0) rotate(-37deg);
  }
}
@keyframes boom-circle {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    transform: scale(3);
  }
}
@keyframes boom-triangle-big {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    transform: scale(2.5) translate(50px, -50px) rotate(360deg);
  }
}
@keyframes boom-triangle {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    transform: scale(3) translate(20px, 40px) rotate(360deg);
  }
}
@keyframes boom-disc {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    transform: scale(2) translate(-70px, -30px);
  }
}
@keyframes blink {
  0%, 32%, 67% {
    opacity: 1;
  }
  33%, 66% {
    opacity: 0;
  }
}
@keyframes scale {
  0%, 16.4%, 83.6%, 100% {
    transform: scale(0.75, 0.75);
  }
  16.5%, 33%, 66.6%, 83.5% {
    transform: scale(1, 1);
  }
}
@keyframes grow {
  0%, 16.4%, 83.6%, 100% {
    width: 20%;
    height: 20%;
  }
  16.5%, 33%, 66.6%, 83.5% {
    width: 50%;
    height: 50%;
  }
  33.1%, 50%, 66.5% {
    width: 100%;
    height: 100%;
  }
}
@keyframes fade-in {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=index.css.map */