@import url("https://fonts.cdnfonts.com/css/circular-std");
@import url("https://fonts.cdnfonts.com/css/common-pixel");
@import url("https://fonts.cdnfonts.com/css/serious-rounded");

body {
  margin: 0;
  background-color: #000000;
  font-family: "seriousr2", sans-serif;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

header {
  .header {
    display: none;

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      width: 100%;
      max-width: 1715px;
      margin: 0 auto;
    }
  }
}

.hidden {
  display: none;
}

#loading {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 9999;
  width: 700px;
  height: 500px;
}

.activateAnim {
  animation: fade-out 4s linear;
}

#loading {
  img {
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: 9999;
    max-height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fade-in 4s linear infinite;
    .skull_green {
      animation: fade-in 4s linear infinite;
    }
  }
}

main {
  .all-sections {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;

    .right-section {
      padding-left: 100px;
      padding-right: 10px;
      width: calc(100% - 300px);
      .team {
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-width: 1px;
        scroll-behavior: smooth;
        height: 100vh;
      }
      .team::-webkit-scrollbar-thumb {
        background-color: #6e6a69;
        border: 4px solid #3a3939;
      }
      .team::-webkit-scrollbar {
        border: 1px solid #3a3939;
        background-color: #3a3939;
      }
      .team.custom_scrollbar::-webkit-scrollbar-track {
        -webkit-border-radius: 5px;
      }
    }
  }

  section:not(.header):not(.footer-bottom) {
    padding: 5.75rem 0;
    width: 100%;
    max-width: 1429px;
    margin: 0 auto;
    position: relative;
  }

  section {
    display: none;

    &.click-open-section {
      max-width: 1642px !important;
      padding: 1rem !important;
      .sidebar {
        background-color: #000000;
        padding: 10px;
        width: 200px;
        height: 100%;
        color: white;
        .sidebar-item {
          cursor: pointer;
          margin-top: 40px;
        }
      }
      .content {
        padding: 10px;
        margin-left: 200px;
        color: white;
      }
      .title {
        font-weight: 700;
        margin-bottom: 5px;
        color: white;
        font-size: 16px;
        letter-spacing: 1px;
      }
      .sub-title {
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 5px;
        color: white;
        font-size: 12px;
        letter-spacing: 1px;
      }
      .processing {
        height: 1px;
        background-color: #ccc;
        border: none;
        animation: processing 4s linear;
        height: 1px;
        pointer-events: none;
        position: absolute;
        width: 210px;
      }

      hr {
        margin-top: 5px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #ffffff;
      }

      /* Media query for responsive design */
      @media screen and (max-width: 600px) {
        .sidebar {
          width: 100%;
          height: auto;
          position: relative;
        }

        .content {
          margin-left: 0;
        }
      }
    }
  }

  @keyframes skul {
    0% {
      opacity: 0.05;
    }

    11% {
      opacity: 0.05;
    }

    12% {
      opacity: 1;
    }

    13% {
      opacity: 0.05;
    }

    17% {
      opacity: 0.05;
    }

    18% {
      opacity: 1;
    }

    19% {
      opacity: 0.05;
    }

    100% {
      opacity: 0.05;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 1;
    }

    30% {
      opacity: 0.6;
    }

    60% {
      opacity: 0.3;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 0;
    }

    30% {
      opacity: 0.3;
    }

    60% {
      opacity: 0.6;
    }

    100% {
      opacity: 1;
    }
  }

  .column {
    width: 50%;
  }
  font-family: "seriousr2", sans-serif;

  .introduction {
    &::before {
      content: "";
      display: none;
      position: absolute;
      width: 123px;
      height: 123px;
      left: 60%;
      top: 138px;
      filter: blur(90px);
      background-color: #bfbf1c;
    }

    &::after {
      content: "";
      display: none;
      position: absolute;
      width: 123px;
      height: 123px;
      left: 80%;
      top: 550px;
      background-color: #18b2de;
      filter: blur(80px);
    }
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .discover {
    display: flex;
    flex-direction: column;
  }

  .footer {
    margin: 0 auto 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1715px;
    padding-top: 6.25rem;
  }

  .footer2 {
    padding-bottom: 30px;
    border-top: 1px solid #f2f2f2;

    .copyright {
      text-align: right;
      margin-right: 40px;
    }
  }
}

.navbar {
  .hamburgerlogowrap {
    display: flex;
    align-items: center;
  }

  .hamburger {
    display: none;
    color: #d7d7d7;
    background-color: #1f1d2b;
    border: none;
    margin-right: 10px;
  }

  .createbtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 126px;
    height: 45px;
    color: #bcbcbc;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;

    &.selectedbtn {
      border: 1px solid #d7d7d7;
      border-radius: 10px;
    }
  }

  .navlogo {
    height: 100%;
    color: white;
    background-clip: text;
    background-color: transparent;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    cursor: pointer;
  }

  .navlink {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #f3eeee;
    cursor: pointer;

    &:hover {
      border-bottom: 1.5px solid #9b51e0;
    }

    &.selectedlink {
      background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
      background-clip: text;
      background-color: transparent;
    }

    &:not(:last-child) {
      margin-right: 32px;
    }
  }
}

.box {
  .infobox {
    animation-name: leftslide;
    animation-duration: 0.8s;
    max-width: 55%;
    overflow: hidden;

    &-boldtext {
      margin: 0;
      color: #ffffff;
      font-size: 62px;
      font-weight: 600;
      line-height: 60px;
      letter-spacing: -2px;
      text-align: left;
      font-family: "seriousr2", sans-serif;
    }

    &-slimtext {
      margin: 24px 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.5px;
      text-align: left;
    }

    &-btnwrapper {
      display: flex;
    }

    &-explorebtn {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #000000;
      padding: 8px 38px;
      border: 1px solid #d7d7d7;
      border-radius: 16px;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      letter-spacing: -1px;
      color: #ffffff;

      &:hover {
        color: #000000;
        background-color: #d7d7d7;
      }
    }

    &-createbtn {
      cursor: pointer;
      margin-left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      padding: 8px 38px;
      border: 1px solid #d7d7d7;
      border-radius: 16px;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      letter-spacing: -1px;
      color: #ffffff;

      &:hover {
        color: #000000;
        background-color: #d7d7d7;
      }
    }
  }

  .display {
    animation-name: rightslide;
    animation-duration: 0.8s;
    padding: 14px;
    border: 1px solid #ffffff33;
    background: linear-gradient(
      169.44deg,
      rgba(58, 129, 191, 0.08) 1.85%,
      rgba(65, 48, 90, 0.08) 98.72%
    );
    border-radius: 35px;
    max-height: 450px;
    max-width: 50%;
    overflow: hidden;
    max-width: 500px;

    &-nft {
      object-fit: cover;
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }

    .infowrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
    }

    .info {
      display: flex;
      align-items: center;

      font-style: normal;
      color: #ffffff;
      font-weight: 600;
      font-size: 12px;

      p {
        margin: 0;
      }

      &-img {
        object-fit: cover;
        flex-shrink: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }

    .info2 {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: #ffffff;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;

      .info-sub {
        margin-bottom: 4px;
      }

      .iconwrapper {
        display: flex;
        align-items: center;

        svg {
          margin-right: 5px;
        }
      }
    }
  }
}

.auction {
  animation-name: rightslide;
  animation-duration: 0.8s;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;

    .titlebold {
      margin: 0;

      font-style: normal;
      color: #ffffff;
      font-weight: 500;
      font-size: 48px;
      line-height: 72px;
    }

    .titleslim {
      margin: 0;

      font-style: normal;
      color: #d7d7d7;
      font-weight: 600;
      font-size: 18px;
      line-height: 36px;
      letter-spacing: -1px;
    }
  }

  .nft {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-content: space-between;
  }
}

.team {
  animation-name: rightslide;
  animation-duration: 0.8s;
}

.gallery {
  animation-name: leftslide;
  animation-duration: 0.8s;
}

.started {
  margin-top: 100px;
  display: flex;
  flex-direction: column;

  &-boldtext {
    margin: 0;
    align-self: center;
    font-style: normal;
    color: #ffffff;
    font-weight: 500;
    font-size: 40px;
    line-height: 72px;
  }

  &-slimtext {
    margin: 0;
    align-self: center;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: #e2e2e2;
  }

  &-items {
    padding: 60px 80px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: space-between;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100px;
      top: 80px;
      filter: blur(80px);
      background: linear-gradient(93.51deg, #bfbf1c85 2.84%, #3081ed 99.18%);
    }

    .itemwrapper {
      p {
        width: 100px;
        margin: 0;
        margin-top: 10px;
        text-align: center;

        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #ffffff;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      border-radius: 18px;
      background-color: red;
      background: rgba(255, 255, 255, 0.095);
      box-shadow: inset 2.01px -2.01px 20px rgba(214, 214, 214, 0.17),
        inset -3.01333px 3.01333px 3.01333px rgba(255, 255, 255, 0.39);
      backdrop-filter: blur(74.4293px);
    }
  }
}

.discover {
  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      letter-spacing: -1px;
      color: #ffffff;
    }
  }

  &-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-content: space-between;
  }

  &-loadbtn {
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
    width: 161px;
    height: 40px;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    background-color: transparent;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1.5px;
    color: #bcbcbc;
  }
}

.footer {
  &-main {
    max-width: 40%;

    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
  }

  &-navigate {
    display: flex;

    .nav {
      margin-left: 60px;

      h5 {
        margin: 0;

        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
      }

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.03em;
        color: #d7d7d7;
      }
    }
  }
}

.footer2 {
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 36px;
    color: #828282;
  }
}

.item {
  display: flex;
  flex-direction: column;
  justify-self: center;

  &-img {
    object-fit: cover;
    flex-shrink: 0;
    width: 200px;
    height: 220px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    margin-top: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
  }

  &-date {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #bcbcbc;
  }
}

.filters {
  display: flex;
  align-items: center;

  .filter {
    display: flex;
    align-items: center;
    margin-right: 30px;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;

    svg {
      margin-right: 5px;
      margin-left: 5px;
    }
  }

  .filterbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
    border: none;
    border-radius: 10px;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;

    svg {
      margin-right: 5px;
    }
  }
}

@media screen and (max-width: 1500px) {
  .landingpage {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1040px) {
  .box {
    flex-direction: column;

    .infobox {
      max-width: none;
      margin-bottom: 50px;
    }

    .display {
      display: none;
      max-height: none;
      max-width: none;
    }
  }

  .auction {
    .nft {
      grid-template-columns: auto auto;
      justify-content: space-around;
    }
  }

  .discover-items {
    grid-template-columns: auto auto auto;
    justify-content: space-around;
  }

  .footer {
    flex-direction: column;

    &-main {
      max-width: 80%;
      margin-bottom: 50px;
      text-align: center;
    }

    &-navigate {
      .nav {
        &:first-child {
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 925px) {
  .navlinkwrap {
    display: none;
  }

  .buttonwrap {
    display: none;
  }

  .hamburger {
    display: flex !important;
    align-items: center;
  }

  .started-slimtext {
    text-align: center;
  }
}

@media screen and (max-width: 825px) {
  .started-items {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    padding: 50px 0;

    &:before {
      height: 200px;
      top: 90px;
      filter: blur(120px);
    }
  }

  .discover-items {
    grid-template-columns: auto auto;
    justify-content: space-around;
  }
}

@media screen and (max-width: 700px) {
  .box {
    flex-direction: column;

    .infobox {
      max-height: none;
      max-width: none;
      margin-bottom: 50px;
    }

    .display {
      display: block;
      max-height: none;
      max-width: none;
    }
  }

  .discover-title {
    justify-content: center;

    .filters {
      display: none;
    }
  }

  .auction {
    .title {
      justify-content: center;

      .titleslim {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .landingpage {
    padding: 0 20px;
  }

  .box {
    .infobox {
      &-boldtext {
        font-size: 45px;
        line-height: 50px;
      }

      &-slimtext {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  .discover-items {
    grid-template-columns: auto;
    justify-content: space-around;
  }

  .auction {
    .nft {
      grid-template-columns: auto;
      justify-content: space-around;
    }
  }

  .footer-main {
    font-size: 20px;
    line-height: 30px;
    max-width: 100%;
    margin-bottom: 50px;
    text-align: center;
  }

  .footer-navigate {
    justify-content: space-between;
    width: 100%;

    .nav {
      margin-left: 20px;

      h5 {
        font-size: 15px;
        line-height: 30px;
      }

      p {
        font-size: 10px;
        line-height: 18px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .landingpage {
    .box {
      .infobox {
        &-boldtext {
          font-size: 32px;
          line-height: 1.4em;
          text-align: center;
        }

        &-slimtext {
          text-align: center;
        }

        &-btnwrapper {
          justify-content: center;
        }
      }
    }
  }
}

@keyframes processing {
  0% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
@keyframes leftslide {
  from {
    transform: translateX(-700px);
    opacity: 0.1;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes rightslide {
  from {
    transform: translateX(550px);
    opacity: 0.1;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@import "animation";
